div.crud{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
}
div.crud > div.field{
  padding-right: 10px;
  padding-top: 25px;
  flex-grow: 1;
}
.fieldNome{
  width: 30vw;
  min-width: 246px;
}
.label{
  width: 100%;
}
input{
  width: 100%;
}
