div.crud{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
}
div.crud > div.field{
  padding-right: 10px;
  padding-top: 25px;
}
.cpf{
  width: 50px;
}
